@import './../../styles.css';

nav{
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
}

button{
    background-color: #76608A;
    margin: 2rem;
    padding: 1rem;
    width: 15rem;
    border-radius: 10px;
    border-color: black;
    color: wheat;
}