@import './../../styles.css';

*{
    background-color: whitesmoke;
}
.container{
    background-color: whitesmoke;
    padding: 3rem;
    margin-top: 5rem;
    position: absolute;
}
#gameContainer{
    position: relative;
    align-items: center;
}
#score{
    background-color: transparent;
    margin: 1rem;
    font-size: large;
    font-weight: bold;
}
